body {
    color: aquamarine;
    background-color: black;
    margin: 0px;
    font-family: "Bona Nova SC", serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 3px wheat;
    padding: 20px;
    font-size: 32px;
    color: aqua(148, 186, 94);
}

.chamada {
    background-color: black;
    margin-top: 80px;
    margin-bottom: 80px ;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 34px;
}